{#
/**
* @file
* Template for directory-item component.
*/
#}
<div class="directory-item d-flex flex-column align-items-start">
  {% set image = paragraph.field_profile_image.entity.field_media_image %}
  {% set image_uri = image|file_uri %}
  {% if image_uri is not null %}
    <img src="{{ image_uri|image_style('directory_image') }}" class="directory-image" alt="{{ image.alt }}">
  {% endif %}
  <h3 class="mt-3 mb-1">{{ paragraph.field_profile_name.value }}</h3>
  <p class="mb-1">{{ paragraph.field_profile_title.value }}</p>
</div>
{{ content|without('field_profile_image', 'field_profile_name', 'field_profile_title') }}
